* {
  margin: auto;
}
.container {
  /*position: relative;*/
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-logo {
  display: block;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 130px;
}

#header-banner {
  display: block;
  max-height: 150px;
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
}

#game-logo {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

#dice-logo {
  max-width: 80px;
  max-height: 80px;
}

#rollCage {
  width: 270px;
  height: 420px;
  /*border: solid grey 1px;*/
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  text-align: center;
  border-radius: 8%;
  position: absolute;
  display: inline-block;
}

#buttonOne {
  background: black;
  color: aqua;
  font-size: 25px;
  height: 220px;
  width: 220px;
  border-radius: 100%;
  border: 0;
  outline: none;
  font-family: 'Anton', sans-serif;
  display: inline-block;
  float: left;
}

#buttonTwo {
  background: black;
  color: aqua;
  font-size: 25px;
  height: 220px;
  width: 220px;
  border-radius: 100%;
  border: 0;
  display: inline-block;
  outline: none;
  font-family: 'Anton', sans-serif;
  display: inline-block;
  float: right;
}

#shooter1 {
  width: 500px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
}

#messageBox {
  background-color: aqua;
  width: 100%;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 40px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  color: red;

}



/*.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  can use this to force switch turns
}*/
#scoreboard {
  margin-top: 15px;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: grey;
  padding-bottom: 30px;
}

#diceTotal {
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  color: red;
  height: 80px;
  width: 80px;
  background: aqua;
  padding-top: 6px;
  border-radius: 15%;
}


#match {
  background-color: black;
  width: 100%;
  height: 175px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 60px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  color: aqua;
  display: inline-block;
}

#playerOneWins {
  color: red;
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  display: inline;
  margin-right: 30px;

}

#playerTwoWins {
  color: red;
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  display: inline;
  margin-left: 30px;

}

#tournamentColon {
  color: grey;
  font-size: 55px;

}

#diceOne, #diceTwo {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  padding: 17px;
}



.dice {
  width: 30px;
  height: 30px;
  background-color: aqua;
  color: red;
  border-radius: 15%;
}

h1 {
  display: block;
  margin: auto;
  color: grey;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 45px;
  font-size: 45px;
  font-family: 'Bahiana', cursive;
  text-align: center;
  margin-top: 35px;


}

h2 {
  display: block;
  margin: auto;
  color: gray;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  font-size: 25px;
  font-family: 'Bahiana', cursive;
  text-align: center;

}

h3 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  color: red;
}
main {
  /*margin-bottom: 500px;*/
  /*height: 800px;*/

}
