* {
  /*background: black;*/
  margin: auto;

}

#header-banner {

  display: block;
  margin: auto;
}

#main-logo {

    display: block;
    margin: auto;
    margin-bottom: 80px;

  }

#game-logo {

      display: block;
      margin-left: 320px;

  }

  h1 {
    display: block;
    margin: auto;
  }
